<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <% try { %>
            <title><%= title %></title>
        <% } catch(err) { %>
            Cloud</title>
        <% } %>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
            * {
                margin: 0px;
                padding: 0px; 
                outline: none;
                border: 0px;
            }
        </style>

    </head>
    <body>
        <%-body %>
    </body>
</html>