<div class="container-fluid full-height">
    <nav class="navbar navbar-style">
        <div class="text-justify display-username-navbar">
            <%-user.usernameWithID%>
        </div>
      </nav>
</div>
<footer>
    <form action="/logout">
        <button type="submit" class="btn btn-primary">
            Logout
        </button>
    </form>
</footer>